<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">
		jdbc:mysql://localhost/timemachine
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password"></property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="current_session_context_class">thread</property>
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<mapping class="cn.edu.nju.software.timemachine.entity.Album" />
	<mapping class="cn.edu.nju.software.timemachine.entity.AlbumMeta" />
	<mapping class="cn.edu.nju.software.timemachine.entity.BaseEntity" />
	<mapping class="cn.edu.nju.software.timemachine.entity.Category" />
	<mapping class="cn.edu.nju.software.timemachine.entity.Friend" />
	<mapping class="cn.edu.nju.software.timemachine.entity.Message" />
	<mapping class="cn.edu.nju.software.timemachine.entity.Picture" />
	<mapping class="cn.edu.nju.software.timemachine.entity.PictureMeta" />
	<mapping class="cn.edu.nju.software.timemachine.entity.Role" />
	<mapping class="cn.edu.nju.software.timemachine.entity.SimpleComment" />
	<mapping class="cn.edu.nju.software.timemachine.entity.User" />
	<mapping class="cn.edu.nju.software.timemachine.entity.UserMeta" />
</session-factory>
</hibernate-configuration>